# avr-gcc stuff
.dep/
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym

# Linux kernel build-related stuff
*.ko
*.mod.c
.*.cmd
.tmp*
Module.symvers
modules.order

# binaries & data
linux/user
*.rrd
*.png
